body{
  background-color: silver;
}

.headings, .languageName{
  text-align: center;
}

#result, #description, .python, .csharp, .javascript {
  display: none;
}

/* select{
  width: 100px;
} */

.languageIcons{
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  display: none;
}
.center-image{
  padding-top: 10px;
  margin: auto;
  width: 30%;
  height: auto;
  display: block;
}

#wiki{
  font-size: 9px;
  font-weight: bold;
}