body{
  background-color: silver;
}

.headings{
  text-align: center;
}

.card{
  background-color: silver;
  border-width: 3px;
}

select, input#nameInput{
  width:75% !important;
  min-width: 180px;
}

button{
  margin-left: 25px;
}
#result, #description, .python, .csharp, .javascript {
  display: none;
}

#pepe {
  width: 100%;
  height: auto;
  display: none;
}

.languageIcons{
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  display: none;
}
.center-image{
  padding-top: 10px;
  margin: auto;
  width: 30%;
  height: auto;
  display: block;
}

.languageName{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

#wiki{
  font-size: 9px;
  font-weight: bold;
}

.footer{
  padding-top: 40px;
  position: relative;
  bottom: 0%;
}
.footer img{
  margin-right: 10px;
  width: 70px;
  height: 70px;
  float: left;
}

