.headings{
  text-align: center;
}
body{
  background-color: silver;
}
.programIcons{
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  display: none;
}
.center-image{
  margin: auto;
  width: 30%;
  height: auto;
  display: block;
}

#result{
  display: block;
}

.python{
  display: none;
}

.csharp{
  display: none;
}

.javascript{
  display: block;
}

.languageName{
  text-align: center;
}

#description{
  display: block;
}

#wiki{
  font-size: 9px;
  font-weight: bold;
}